{% extends "layout.html" %}

{% block title %}page2{% endblock %}

{% block content %}


{% if logged_in %}

	
	<h2>Make a Post</h1>

    <form action='/submitPost' method="post" enctype="multipart/form-data">
	  <div class="mb-3">
	  	<label for="formFile" class="form-label">Default file input example</label>
	  	<input class="form-control" type="file" name="img_file" id="formFile" required>
	  </div>
      <label for="sentence">Type a something you want to post.</label>
      <br>
      <input type="text" name="sentence" id="sentence" required>
      <br><br>
        <div>
    <button>Submit</button>
  </div>
    </form>

{% else %}
{% endif %}

<h2>Posts by users</h1>

{% for post in posts %}		
	<p class="post_text">
		<span> {{ post.user }}, {{current_date}} </span>
		<span class="span_text"> {{ post.post }} </span>	
	</p>

	
                    
   <img class="post_image" src="/image/{{ post.img_id }}">

	<form action="/favorite" method="post"> 

	<button type="button" value="{{post._id}}">Favorite</button>
	
	</form>

{% endfor %}

{% endblock %}
